<aside style="width: 250px; background-color: #f8f9fa; height: 100vh; padding: 15px; position: fixed;">
    <h4>Admin Panel</h4>
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Manufacture")">Manufacture</a></li>
        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Functions")">Functions</a></li>
        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Flights")">Flights</a></li>
        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Employees")">Employees</a></li>
        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Classes")">Classes</a></li>
        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Aircraft")">Aircraft</a></li>
        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Locations")">Locations</a></li>
    </ul>
</aside>
