<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Availability</title>
    <link rel="stylesheet" href="styles.css"> <!-- Arquivo CSS externo -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

    <div class="centerBookingHeaad">
        <div class="herov2">
            <div class="navbarcustom">
                <a href="@Url.Action("Index", "Home")" class="airline-do-Simao">Airline</a>
                <div class="leftnavbarcustom">
                    <div class="navitem"><a href="@Url.Action("Regsister", "Home")"><i class="fas fa-user-circle"></i> Login & Registration</a></div>
                    <div class="navitem"><a href="@Url.Action("BookingAvailability", "Home")">Book</a></div>
                    <div class="navitem"><a href="@Url.Action("CheckIn", "Home")">Check-In</a></div>
                    <div class="navitem"><a href="#">Contact</a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <h2>Your Selection</h2>
        <h4>Geneva to Lisbon</h4>
        <h6>Your flights</h6>
        <div class="flight-card">
            <div class="flight-header">
                <div>
                    <div class="flight-time">19:55</div>
                    <div class="text-muted">CDG - Terminal 1</div>
                </div>
                <div>
                    <div class="flight-duration">6h 45m BRU</div>
                    <div class="text-muted">Duration: 10h 35m</div>
                </div>
                <div>
                    <div class="flight-time">07:30 +1 day</div>
                    <div class="text-muted">LIS - Terminal 1</div>
                </div>
                <div class="flight-airline">
                    ✈ Operated by TAP Air Portugal, Brussels Airlines
                </div>
                <div class="d-flex">
                    <div class="price-box economy" onclick="selectClass(this, 'economy')">
                        <p>Economy</p>
                        <h4>€581.02</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="flight-card">
            <div class="flight-header">
                <div>
                    <div class="flight-time">20:55</div>
                    <div class="text-muted">GEN - Terminal 1</div>
                </div>
                <div>
                    <div class="flight-duration">6h 45m BRU</div>
                    <div class="text-muted">Duration: 10h 35m</div>
                </div>
                <div>
                    <div class="flight-time">08:30 +1 day</div>
                    <div class="text-muted">LIS - Terminal 1</div>
                </div>
                <div class="flight-airline">
                    ✈ Operated by TAP Air Portugal, Brussels Airlines
                </div>
                <div class="d-flex">
                    <div class="price-box economy" onclick="selectClass(this, 'economy')">
                        <p>Economy</p>
                        <h4>€223.99</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 id="total-price-display" style="display: none; text-align: right; margin-right: 305px;">
        Total Price: EUR 805.01
    </h4>
    <div class="container mt-4">
        <div class="passenger-info-card">
            <h2>Passenger Information</h2>
            <div class="passenger-header" onclick="togglePassengerDetails(this)">
                <i class="fas fa-user"></i>
                <div class="passenger-header-info">
                    <h4>Malandro Antonio</h4>
                    <p>Adult</p>
                </div>
                <div class="passenger-header-contact">
                    <p>simaomartins14@gmail.com</p>
                    <p>+351 969578605</p>
                </div>
            </div>
            <div class="passenger-details">
                <h6>Personal Information</h6>
                <div class="detail-item">
                    <span class="detail-label">Date of Birth: </span>
                    <span class="detail-value">18/06/1999</span>
                </div>
                <div class="detail-item">
                    <span class="detail-label">Gender: </span>
                    <span class="detail-value">Male</span>
                </div>
                <h6>Contact Information</h6>
                <div class="detail-item">
                    <span class="detail-label">Email: </span>
                    <span class="detail-value">simaomartins14@gmail.com</span>
                </div>
                <div class="detail-item">
                    <span class="detail-label">Phone: </span>
                    <span class="detail-value">+351 969578605</span>
                </div>
            </div>
            <div class="passenger-footer">
                <button class="btn-modify">Modify</button>
            </div>
        </div>
    </div>
    <div class="container text-end mt-4">
        <h3>Total price:EUR 805.01</h3>
        <p>Round trip price for all passengers (incl. taxes, fees and surcharges)</p>
        <button class="btn-primary-booking-search" href="@Url.Action("PassengerInformation","Home")" onclick="confirmSelection()">Enter Passenger Information</button>
    </div>
    <div class="container mt-4">
        <p>Fares are not guaranteed until you confirm your purchase by clicking the “Yes, book and pay for ticket” button.**</p>
        <p>The fare is only valid if all the flights are fully flown in the booked sequence. Otherwise the fare will be recalculated based on the actual flight routing.</p>
        <p>In case this flight is operated by an airline other than Lufthansa, baggage allowance, priority check in, seating terms, Fastlane option may differ.</p>
        <p class="mb-5">
            <!-- Adiciona espaçamento -->
            Please note that options (e.g.: extra baggage, seat reservation) are not refundable in case you cancel your flight or if you change your flight and the option is no longer available.
        </p>
    </div>
    <footer class="footer text-center">
        <p>&copy; 2025 Airline. All Rights Reserved.</p>
    </footer>

    <style>
        .navbarcustombooking {
            display: flex;
            background: rgba(255, 255, 255, 0.7); /* Cor com opacidade */
            padding: 30px;
            border-radius: 12px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            color: rgb(130, 89, 46);
            width: 100%;
            max-width: 1250px;
            position: relative;
            margin-top: 1%
        }

        .centerBookingHeaad {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20vh;
            width: 100%;
        }

        .btn-primary-booking-search {
            background-color: rgb(130, 89, 46);
            color: white;
            border: none;
            padding: 10px 20px;
            margin-bottom: 10px;
            font-size: 1.1rem;
        }

        .airline-do-Simao {
            font-size: 24px;
            font-weight: bold;
            color: rgb(130, 89, 46);
            align-content: center;
        }

        .passenger-info-card {
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-bottom: 20px;
            margin-top: 80px;
        }

        .passenger-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            border-bottom: 1px solid #eee;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

            .passenger-header i {
                margin-right: 10px;
                font-size: 1.5rem;
                color: rgb(130, 89, 46);
            }

        .passenger-header-info {
            flex: 1;
        }

            .passenger-header-info h4 {
                margin: 0;
                font-size: 1.5rem;
            }

            .passenger-header-info p {
                margin: 0;
                color: #666;
            }

        .passenger-header-contact {
            text-align: right;
            flex: 1;
        }

            .passenger-header-contact p {
                margin: 0;
                color: #666;
                font-size: 0.9rem;
            }

        .passenger-details {
            margin-bottom: 10px; /* Inicialmente oculto */
        }

        .detail-item {
            display: flex;
            justify-content: left;
            margin-bottom: 5px;
        }

        .detail-label {
            font-weight: bold;
            color: #333;
        }

        .detail-value {
            color: #666;
            margin-left: 5px;
        }

        .passenger-footer {
            text-align: right;
        }

        .btn-modify {
            background-color: rgb(130, 89, 46);
            color: white;
            border: none;
            padding: 5px 10px;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>

    <script>
        function togglePassengerDetails(header) {
            const details = header.parentElement.querySelector('.passenger-details');
            const contactInfo = header.querySelector('.passenger-header-contact');
            if (details.style.display === 'none') {
                details.style.display = 'none';
                contactInfo.style.display = 'none';
            } else {
                details.style.display = 'none';
                contactInfo.style.display = 'block';
            }
        }
        function confirmSelection() {
            // Mostra as informações do passageiro
            document.querySelector('.passenger-info-card').style.display = 'block';

            // Mostra o total antes das informações do passageiro
            document.getElementById('total-price-display').style.display = 'block';

            // Muda o texto do botão para "Confirm Payout"
            let button = document.querySelector('.btn-primary-booking-search');
            button.textContent = "Confirm Payout";

            // Redireciona para a página "PassengerInformation"
            window.location.href = '@Url.Action("PassengerInformation", "Home")';
        }
    </script>
</body>
</html>