@model IEnumerable<BeaverEnterprisesMVC.Models.Function>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>
<form method="get" asp-action="Create" style="display:inline;">
    <button type="submit" class="btn beaverBrown bttbackend">Create</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FunctionDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmployeeNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdFlightNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FunctionDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmployeeNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdFlightNavigation.Id)
            </td>
            <td>
                    <form method="get" asp-action="Edit" asp-route-id="@item.Id" style="display:inline;">
                        <button type="submit" class="btn btn-primary bttbackend">Edit</button>
                    </form>
                    <form method="get" asp-action="Details" asp-route-id="@item.Id" style="display:inline;">
                        <button type="submit" class="btn btn-info bttbackend">Details</button>
                    </form>
                    <form method="post" asp-action="Delete" asp-route-id="@item.Id" style="display:inline;">
                        <button type="submit" class="btn btn-danger bttbackend">Delete</button>
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
