@model IEnumerable<BeaverEnterprisesMVC.Models.Flight>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>
<form method="get" asp-action="Create" style="display:inline;">
    <button type="submit" class="btn beaverBrown bttbackend">Create</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlightNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periocity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAircraftNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClassNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDestinationNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdOriginNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlightNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periocity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAircraftNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClassNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDestinationNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdOriginNavigation.Id)
            </td>
            <td>
                    <form method="get" asp-action="Edit" asp-route-id="@item.Id" style="display:inline;">
                        <button type="submit" class="btn btn-primary bttbackend">Edit</button>
                    </form>
                    <form method="get" asp-action="Details" asp-route-id="@item.Id" style="display:inline;">
                        <button type="submit" class="btn btn-info bttbackend">Details</button>
                    </form>
                    <form method="post" asp-action="Delete" asp-route-id="@item.Id" style="display:inline;">
                        <button type="submit" class="btn btn-danger bttbackend">Delete</button>
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
